__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
.env
.vscode/
.idea/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg

results/tmp/
results/raw/
tmp/
cache/
checkpoints/
*.pt
*.pth
*.pkl

*.xml.gz
*.csv.gz

notes/
archive_old_article/